@model Boundless.Models.TimeSheetDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TimeSheetDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DaysofWeek" class="control-label"></label>
                <input asp-for="DaysofWeek" class="form-control" />
                <span asp-validation-for="DaysofWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <input asp-for="Period" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ProjectID" class="control-label"></label>*@
                @*<input asp-for="ProjectID" class="form-control" />*@
                @*<span asp-validation-for="ProjectID" class="text-danger"></span>*@
                <label class="control-label col-md-2" for="ProjectID">Project</label>
                <div class="form-control">
                    @Html.DropDownList("ProjectID", String.Empty)
                    @Html.ValidationMessageFor(model => model.ProjectID)
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="TaskID" class="control-label">Task</label>*@
                <label class="control-label col-md-2" for="TaskID">Task</label>
                <div class="form-control">
                    @Html.DropDownList("TaskID", String.Empty)
                    @Html.ValidationMessageFor(model => model.TaskID)
                </div>
                @*<input asp-for="TaskID" class="form-control"/>
        <span asp-validation-for="TaskID" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSheetMasterID" class="control-label"></label>
                <input asp-for="TimeSheetMasterID" class="form-control" />
                <span asp-validation-for="TimeSheetMasterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
